@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<div>
    <p>This To Do web app was created using ASP.NET MVC5. </p>
    <p>This app was created to learn the basics of using ASP.NET, MVC5, and C#.</p>
    <p>The GitHub repo for this project can be found <a href="https://github.com/Derzz/To-Do-List">here</a>.</p>
</div>
